[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {extras = ["torch", "ja", "sentencepiece"], version = "*"}
numpy = "<2.0"

[dev-packages]

[requires]
python_version = "3.12"
